fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.32
mysql-connector-python
yfinance==0.2.32
finnhub-python==2.4.29
python-dotenv==1.0.0
requests==2.34.2
pandas>=2.2.0
scikit-learn>=1.4.0
prophet>=1.1.5
passlib==1.7.4
bcrypt==4.1.1
PyJWT==2.8.0
scipy>=1.12.0
pydantic>=2.5.0
numpy>=1.26.2
holidays>=0.101
beautifulsoup4>=4.15.0
lxml>=6.1.1
tensorflow>=2.14.0
keras>=3.0.0